*, *:before, *:after {
  box-sizing: border-box; 
}

body {
  background: #f5f4ed;
  color: #c2a891; 
}

label {
  color: #5aa6a1; 
}

label.radio-inline {
  color: #c2a891; 
}

header {
  background: url("../images/checkerboard.png") repeat-x scroll top center;
  padding-top: 120px;
}

header h1 {
  color: #96252b;
  font-size: 50px; 
}

header h2 {
  font-size: 45px;
  letter-spacing: 9px;
  text-transform: uppercase;
  margin-top: 0; 
}

header h1 {
  letter-spacing: 6px; 
}

header p {
  padding: 40px 0; 
}

p, form {
  font-size: 24px;
  font-weight: 200; 
}

section {
  background: url("../images/trianglepattern.png") repeat-x scroll top center;
  padding: 160px 0 40px 0; 
}

footer {
  background: url("../images/checkerboard.png") repeat-x scroll bottom center;
	padding-bottom: 90px;
}

.form-group {
  padding-top: 40px; 
}

.help-block {
  font-size: 16px; 
}

.btn.btn-default {
  background-color: #b4cfc9;
  border-color: #b4cfc9;
  border-radius: 2px;
  color: #5aa6a1;
  display: block;
  font-size: 22px;
  margin: 40px auto 0;
  padding: 10px 40px; 
}

.error {
  color: #96252b;
  font-size: 16px;
}

dl {
  margin-bottom: 40px;
}

dt {
  margin-top: 30px;
}

dd {
  padding-left: 15px;
}
